.fpslider {
  position: relative;
  width: 100%;
  height: 100%;
  height: 400px;
  overflow: hidden;
  z-index: 1;
  background-color: #333;
  min-height: 300px;
  padding: 70px 0; }
  .fpslider__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden; }
    .fpslider__bg::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); }
  .fpslider__bg-item {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .fpslider__bg-item.active {
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      opacity: 1;
      -webkit-transform: scale(1.02);
      transform: scale(1.02); }
  .fpslider__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 960px;
    width: 100%;
    z-index: 2; }
  .fpslider__content-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease-in-out; }
    .fpslider__content-item.active {
      z-index: 1;
      opacity: 1; }
  .fpslider__title {
    width: 100%;
    font-size: 3em;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px); }
    .fpslider__content-item.active .fpslider__title {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
  .fpslider__subtitle {
    font-size: 1.4em;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px); }
    .fpslider__content-item.active .fpslider__subtitle {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
  .fpslider__nav {
    position: absolute;
    width: 100%;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 960px;
    text-align: center;
    z-index: 3; }
  .fpslider__next::after, .fpslider__next::before, .fpslider__prev::after, .fpslider__prev::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    top: 50%;
    border-radius: 1px;
    background-color: #fff;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s; }
  .fpslider__next::after, .fpslider__next::before {
    right: 0;
    -webkit-transform-origin: right center;
    transform-origin: right center; }
  .fpslider__prev::after, .fpslider__prev::before {
    left: 0;
    -webkit-transform-origin: left center;
    transform-origin: left center; }
  .fpslider__next, .fpslider__prev {
    position: absolute;
    width: 25px;
    height: 100%;
    top: 0;
    cursor: pointer;
    backface-visibility: hidden; }
  .fpslider__next {
    right: 0; }
    .fpslider__next::after {
      margin-top: 1px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .fpslider__next::before {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    @media only screen and (min-width: 801px) {
      .fpslider__next:hover::after {
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg); }
      .fpslider__next:hover::before {
        -webkit-transform: rotate(-60deg);
        transform: rotate(-60deg); } }
  .fpslider__prev {
    left: 0; }
    .fpslider__prev::after {
      margin-top: 1px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .fpslider__prev::before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    @media only screen and (min-width: 801px) {
      .fpslider__prev:hover::after {
        -webkit-transform: rotate(-60deg);
        transform: rotate(-60deg); }
      .fpslider__prev:hover::before {
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg); } }
  .fpslider__bullet {
    display: inline-block;
    font-size: 0; }
    .fpslider__bullet span {
      display: inline-block;
      vertical-align: middle;
      width: 15px;
      height: 15px;
      margin: 0 7.5px;
      opacity: .6;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .fpslider__bullet span:hover, .fpslider__bullet span.active {
        opacity: 1; }

/*-----------------------------------
--== Useful Classes and Variables ==-
---------------------------------- */
/*-- Colors --*/
/*-----------*/
.pointer {
  cursor: pointer; }

.clear-fix {
  clear: both; }

.clear-div:after, .clear-div:before {
  display: table;
  content: " ";
  clear: both; }

.text-center {
  text-align: center; }

.background-cover {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover; }

/*-- Positions --*/
/*-----------------------------------
---------== General Styles ==--------
---------------------------------- */
html, body {
  min-width: 320px;
  height: 100%; }

body {
  font-family: 'IRANSans',arial,sans-serif;
  font-size: 16px;
  font-weight: 200;
  background-color: #fff; }

a, a:hover, a:active, a:focus {
  text-decoration: none; }

* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, ul, p {
  margin: 0;
  padding: 0; }

input {
  outline: none !important; }

/* =======================================================================
   =======================================================================
   =======================================================================

   						          INDEX PAGE

   =======================================================================
   =======================================================================
   ======================================================================= */
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px; }

.nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #333333;
  z-index: 9; }
  .nav .wrapper {
    position: relative;
    height: 100%; }
  .nav__logo {
    display: inline-block;
    position: absolute;
    height: 47px;
    top: 25px;
    right: 15px;
    color: #fff;
    z-index: 1;
    padding-right: 60px;
    text-align: right;
    font-size: 16px; }
    .nav__logo__name {
      font-size: 20px;
      font-weight: 500; }
    .nav__logo img {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0; }
    .nav__logo span {
      display: block;
      padding-bottom: 7px;
      white-space: nowrap; }
      .nav__logo span:last-of-type {
        padding-bottom: 0; }
  .nav__telephone {
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 15px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    -webkit-transition: 0.3s color;
    -moz-transition: 0.3s color;
    -o-transition: 0.3s color;
    -ms-transition: 0.3s color;
    transition: 0.3s color; }
    .nav__telephone:hover {
      color: #e79d3e; }
    .nav__telephone > span {
      display: block;
      padding-bottom: 5px; }
      .nav__telephone > span:last-of-type {
        padding-bottom: 0; }
    .nav__telephone__big-tex {
      display: inline-block;
      font-size: 20px;
      font-weight: 500; }

/* --- Desktop Navigation ---*/
@media screen and (min-width: 768px) {
  .navigation {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-family: 'IRANSans',arial,sans-serif;
    text-align: right;
    direction: rtl;
    height: 30px;
    display: block;
    text-align: center; }
    .navigation li {
      display: inline-block;
      position: relative;
      color: #fff; }
      .navigation li a {
        display: inline-block;
        padding: 0px 15px;
        line-height: 30px;
        color: #fff;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -o-transition: 0.3s all;
        -ms-transition: 0.3s all;
        transition: 0.3s all; }
        .navigation li a:hover {
          color: #e79d3e; }
        .navigation li a i.fa {
          padding-right: 5px; }
      .navigation li ul {
        min-width: 120px; }
        .navigation li ul li {
          display: block; }
          .navigation li ul li a {
            display: block;
            padding: 5px 10px; }
            .navigation li ul li a:hover {
              background-color: #151515; }
    .navigation > li > ul {
      visibility: hidden;
      position: absolute;
      top: calc(100% + 20px);
      right: 0;
      background-color: #333333;
      opacity: 0;
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      -o-transition: 0.3s all;
      -ms-transition: 0.3s all;
      transition: 0.3s all; }
    .navigation > li:hover > ul {
      visibility: visible;
      top: 99%;
      opacity: 1; }

  .menu-btn {
    display: none !important; } }
/* --- Mobile Navigation ---*/
.menu-btn {
  position: absolute;
  left: 15px;
  top: 37px;
  display: inline-block;
  cursor: pointer; }
  .menu-btn__line {
    display: block;
    position: relative;
    top: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 8px;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -ms-transition: 0.3s all;
    transition: 0.3s all; }

.mobileBars45 {
  transform: rotate(45deg);
  margin-bottom: -2px;
  top: 10px; }

.mobileBars45B {
  transform: rotate(-45deg);
  top: 9px; }

@media screen and (max-width: 767px) {
  .nav {
    position: fixed;
    -webkit-transition: 0.6s all;
    -moz-transition: 0.6s all;
    -o-transition: 0.6s all;
    -ms-transition: 0.6s all;
    transition: 0.6s all; }

  nav.active {
    height: 100%; }

  .nav__telephone {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 76px;
    left: 0;
    top: auto;
    text-align: center; }
    .nav__telephone:after {
      content: '';
      position: absolute;
      position: absolute;
      margin: auto;
      right: 0;
      left: 0;
      display: block;
      width: 17px;
      height: 1px;
      background-color: #fff;
      top: -55px; } }
@media screen and (max-width: 767px) and (max-height: 550px) {
  .nav__telephone {
    display: none !important; } }
@media screen and (max-width: 767px) {
  .navigation {
    display: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    max-height: 230px;
    height: auto;
    overflow: auto;
    font-family: 'IRANSans',arial,sans-serif;
    text-align: right;
    direction: rtl;
    text-align: center; }
    .navigation i.fa {
      padding-right: 5px; }
    .navigation ul {
      display: none;
      overflow: auto;
      background-color: #292929; }
    .navigation li {
      display: block; }
      .navigation li a {
        display: block;
        padding: 15px 10px;
        color: #fff;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -o-transition: 0.3s all;
        -ms-transition: 0.3s all;
        transition: 0.3s all;
        font-size: 24px;
        font-weight: 500; }
        .navigation li a:hover {
          color: #e79d3e; } }
.fpslider {
  height: 100%;
  max-height: 980px;
  padding: 0; }
  .fpslider__title {
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 20px; }
  .fpslider__subtitle {
    font-size: 28px;
    font-weight: 300; }
  .fpslider__nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: auto;
    margin-top: 95px; }
  .fpslider__bullet span {
    width: 14px;
    height: 14px; }
  .fpslider__bullet span.active {
    width: 18px;
    height: 18px; }

@media only screen and (max-width: 768px) {
  .fpslider__title {
    font-size: 21px;
    padding-bottom: 15px; }
  .fpslider__subtitle {
    font-size: 20px; }
  .fpslider__nav {
    margin-top: 70px; } }

/*# sourceMappingURL=main.css.map */
