.fpslider {
	position: relative;
	width: 100%;
	height: 100%;
	height: 400px;
	overflow: hidden;
	z-index: 1;
	background-color: #333;
	min-height: 300px;
	padding: 70px 0;

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		overflow: hidden;
		&::after{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.5);
		}
	}
	&__bg-item {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		opacity: 0;
		-webkit-transform: scale(1);
		        transform: scale(1);
		-webkit-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		&.active {
			-webkit-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			opacity: 1;
			-webkit-transform: scale(1.02);
			        transform: scale(1.02);
		}
	}
	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 960px;
		width: 100%;
		z-index: 2;
	}
	&__content-item {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		text-align: center;
		opacity: 0;
		transition: all 0.5s ease-in-out;

		&.active {
			z-index: 1;
			opacity: 1;
		}
	}
	&__title{
		width: 100%;
		font-size: 3em;
		color: #fff;
		-webkit-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		-webkit-transform: translateY(10px);
		-ms-transform: translateY(10px);
		        transform: translateY(10px);

		.fpslider__content-item.active &{
			-webkit-transform: translateY(0);
			    -ms-transform: translateY(0);
			        transform: translateY(0);
		}
	}
	&__subtitle{
		font-size: 1.4em;
		color: #fff;

		-webkit-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		-webkit-transform: translateY(10px);
		-ms-transform: translateY(10px);
		        transform: translateY(10px);

		.fpslider__content-item.active &{
			-webkit-transform: translateY(0);
			    -ms-transform: translateY(0);
			        transform: translateY(0);
		}
	}
	&__nav{
		position: absolute;
		width: 100%;
		bottom: 50px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		        transform: translateX(-50%);
		max-width: 960px;
		text-align: center;
		z-index: 3;
	}
	@at-root %slider-nav-icon{
		content:"";
		position: absolute;
		width: 20px;
		height: 2px;
		top: 50%;
		border-radius: 1px;
		background-color: #fff;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-transition: -webkit-transform .3s;
		transition: -webkit-transform .3s;
		transition: transform .3s;
		transition: transform .3s, -webkit-transform .3s;
	}
	@at-root %slider-nav-icon-right{
		@extend %slider-nav-icon;
		right: 0;
		-webkit-transform-origin: right center;
		transform-origin: right center;
	}
	@at-root %slider-nav-icon-left{
		@extend %slider-nav-icon;
		left: 0;
		-webkit-transform-origin: left center;
		transform-origin: left center;
	}
	@at-root %slider-nav{
		position: absolute;
		width: 25px;
		height: 100%;
		top: 0;
		cursor: pointer;
		backface-visibility: hidden;
	}
	&__next{
		@extend %slider-nav;
		right: 0;

		&::after{
			@extend %slider-nav-icon-right;
			margin-top: 1px;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&::before{
			@extend %slider-nav-icon-right;
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
		@include mq_min($scr_md_min){
			&:hover {
				&::after {
					-webkit-transform: rotate(60deg);
					        transform: rotate(60deg);
				}
				&::before {
					-webkit-transform: rotate(-60deg);
					        transform: rotate(-60deg);
				}
			}
		}
	}
	&__prev{
		@extend %slider-nav;
		left: 0;

		&::after{
			@extend %slider-nav-icon-left;
			margin-top: 1px;
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
		&::before{
			@extend %slider-nav-icon-left;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		@include mq_min($scr_md_min){
			&:hover {
				&::after {
					-webkit-transform: rotate(-60deg);
					        transform: rotate(-60deg);
				}
				&::before {
					-webkit-transform: rotate(60deg);
					        transform: rotate(60deg);
				}
			}
		}
	}
	&__bullet {
		display: inline-block;
		font-size: 0;

		span {
			$size: 15px;

			display: inline-block;
			vertical-align: middle;
			width: $size;height: $size;
			margin: 0 7.5px;

			opacity: .6;
			border-radius: 50%;
			background-color: #fff;
			cursor: pointer;

			-webkit-transition: all 0.3s;
			transition: all 0.3s;

			&:hover,
			&.active {
				opacity: 1;
			}
		}
	}
}