//media queries mixins
	@mixin mq_max($width){
		@media only screen and (max-width: $width){@content;}
	}
	@mixin mq_min($width){
		@media only screen and (min-width: $width){@content;}
	}
	@mixin mq_min_max($min_width,$max_width){
		@media only screen and (min-width: $min_width) and (max_width:$max_width){@content;}
	}


%clearfix{
	zoom:1;/* For IE 6/7 (trigger hasLayout) */
	&::after,before{
		content: "";
		display: table;
	}
	&::after{
		clear: both;
	}
}