@import "variables";
@import "library";
@import "fpslider";
/*-----------------------------------
--== Useful Classes and Variables ==-
---------------------------------- */

/*-- Colors --*/

$textDark:#3c3c3c;
$textLight: #fff;
$lightGray:#757575;
$hoverColor: #e79d3e;
$bgColor:#333333;

/*-----------*/

.pointer{
  cursor:pointer;
}
.clear-fix{
  clear:both;
}
.clear-div{
  &:after,&:before{
    display: table;
    content: " ";
    clear: both;
  }
}
.text-center{
  text-align: center;
}
@mixin dir($ln){
  @if $ln == Fa{
    font-family: 'IRANSans',arial,sans-serif;
    text-align:right;
    direction:rtl;
  }
  @if $ln == En{
    text-align:left;
    direction:ltr;
  }
}
@mixin transition($time:0.3s,$p:all){
  -webkit-transition:$time $p;
  -moz-transition:$time $p;
  -o-transition:$time $p;
  -ms-transition:$time $p;
  transition:$time $p;
}
@mixin transformScale($scale1,$scale2){
  -webkit-transform:scale($scale1,$scale2);
  -moz-transform:scale($scale1,$scale2);
  -o-transform:scale($scale1,$scale2);
  -ms-transform:scale($scale1,$scale2);
  transform:scale($scale1,$scale2);
}
.background-cover{
  background-repeat: no-repeat ;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}
@mixin triangle($width,$dir,$color){
  @if $dir == up{
    width: 0;
    height: 0;
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-bottom: $width solid $color;
  }@else if $dir == down{
    width: 0;
    height: 0;
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-top: $width solid $color;
  }@else if $dir == right{
    width: 0;
    height: 0;
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    border-left: $width solid $color;
  }@else if $dir == left{
    width: 0;
    height: 0;
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    border-right:$width solid $color;
  }
}

/*-- Positions --*/

@mixin align($side){
  position:absolute;
  margin: auto;
  @if $side == V {
    top:0;
    bottom: 0;
  }
  @else if $side == H {
    right:0;
    left:0;
  }
  @else if $side == HV {
    top:0;
    bottom: 0;
    right:0;
    left:0;
  }
  @else if $side == none {
    position:relative;
    top:auto;
    bottom:auto;
    right:auto;
    left:auto;
  }
}

/*-----------------------------------
---------== General Styles ==--------
---------------------------------- */

html,body{
  min-width:320px;
  height: 100%;
}
body{
  font-family: 'IRANSans',arial,sans-serif;
  font-size:16px;
  font-weight: 200;
  background-color:#fff;
}
a, a:hover , a:active , a:focus {
  text-decoration:none;
}
*{
  margin:0;
  padding:0;
}
h1,h2,h3,h4,h5,h6,ul,p{
  margin:0;
  padding:0;
}
input{
  outline: none !important;
}

/* =======================================================================
   =======================================================================
   =======================================================================

   						          INDEX PAGE

   =======================================================================
   =======================================================================
   ======================================================================= */

.wrapper{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav{
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100px;
  background-color: $bgColor;
  z-index: 9;
  .wrapper{
    position: relative;
    height: 100%;
  }
  &__logo{
    display: inline-block;
    position: absolute;
    height: 47px;
    top:25px;
    right:15px;
    color: $textLight;
    z-index: 1;
    padding-right: 60px;
    text-align: right;
    font-size: 16px;
    &__name{
      font-size: 20px;
      font-weight: 500;
    }
    img{
      @include align(V);
      right: 0;
    }
    span{
      display: block;
      padding-bottom: 7px;
      white-space: nowrap;
      &:last-of-type{
        padding-bottom: 0;
      }
    }
  }
  &__telephone{
    display: inline-block;
    @include align(V);
    left: 15px;
    height: 40px;
    color:$textLight;
    font-size: 16px;
    @include transition(0.3s,color);
    &:hover{
      color:$hoverColor;
    }
    >span{
      display: block;
      padding-bottom: 5px;
      &:last-of-type{
        padding-bottom: 0;
      }
    }
    &__big-tex{
      display:inline-block;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

/* --- Desktop Navigation ---*/
@media screen and (min-width: 768px){
  .navigation{
    @include align(HV);
    @include dir(Fa);
    height: 30px;
    display: block;
    text-align: center;
    li{
      display: inline-block;
      position: relative;
      color:$textLight;
      a{
        display: inline-block;
        padding:0px 15px;
        line-height: 30px;
        color:$textLight;
        @include transition;
        &:hover{
          color:$hoverColor;
        }
        i.fa{
          padding-right:5px;
        }
      }
      ul {
        min-width: 120px;
        li {
          display: block;
          a {
            display: block;
            padding: 5px 10px;
            &:hover {
              background-color: $bgColor - 30;
            }
          }
        }
      }
    }
    >li{
      > ul {
        visibility: hidden;
        position: absolute;
        top: calc(100% + 20px);
        right: 0;
        background-color: $bgColor;
        opacity: 0;
        @include transition;
      }
      &:hover{
        >ul{
          visibility: visible;
          top:99%;
          opacity: 1;
        }
      }
    }
  }
  .menu-btn{
    display: none !important;
  }
}
/* --- Mobile Navigation ---*/
.menu-btn{
  position: absolute;
  left:15px;
  top:37px;
  display: inline-block;
  cursor: pointer;
  &__line{
    display: block;
    position: relative;
    top:0;
    width:30px;
    height:3px;
    background-color:$textLight;
    margin-bottom:8px;
    @include transition;
  }
}
.mobileBars45{
  transform:rotate(45deg);
  margin-bottom:-2px;
  top:10px;
}
.mobileBars45B{
  transform:rotate(-45deg);
  top:9px;
}
@media screen and (max-width: 767px){
  .nav{
    position: fixed;
    @include transition(0.6s);
  }
  nav.active{
    height: 100%;
  }
  .nav {
    &__telephone {
      display: none;
      width: 100%;
      position: absolute;
      bottom: 76px;
      left: 0;
      top: auto;
      text-align: center;
      &:after {
        content: '';
        position: absolute;
        @include align(H);
        display: block;
        width: 17px;
        height: 1px;
        background-color: $textLight;
        top: -55px;
      }
    }
  }
  @media screen and (max-height: 550px){
    .nav__telephone{
      display: none !important;
    }
  }
  .navigation {
    display: none;
    @include align(HV);
    margin: auto;
    max-height: 230px;
    height: auto;
    overflow: auto;
    @include dir(Fa);
    text-align: center;
    i.fa {
      padding-right: 5px;
    }
    ul {
      display: none;
      overflow: auto;
      background-color: $bgColor - 10;
    }
    li {
      display: block;
      a {
        display: block;
        padding: 15px 10px;
        color: $textLight;
        @include transition;
        font-size: 24px;
        font-weight: 500;
        &:hover {
          color: $hoverColor;
        }
      }
    }
  }
}
.fpslider{
  height:100%;
  max-height: 980px;
  padding: 0;
  &__title{
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 20px;
  }
  &__subtitle{
    font-size: 28px;
    font-weight: 300;
  }
  &__nav{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: auto;
    margin-top: 95px;
  }
  &__bullet{
    span {
      width: 14px;
      height: 14px;
    }
    span.active{
      width: 18px;
      height: 18px;
    }
  }
}
@include mq_max(768px){
  .fpslider{
    &__title{
      font-size: 21px;
      padding-bottom: 15px;
    }
    &__subtitle{
      font-size: 20px;
    }
    &__nav{
      margin-top: 70px;
    }
  }
}

